<div class="row">
  <div class="col">
    <!--navigacja-->
    <div class="row d-flex align-items-center justify-content-start">
      <button class="btn btn-primary mx-3" routerLink="new">Dodaj Klienta</button>
      <div class="my-2 my-lg-0 mx-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input class="form-control" type="search" placeholder="Szukaj Klienta" aria-label="Szukaj Klienta"
                 [(ngModel)]="searchString" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row my-2">
  <div class="col">
    <!--lista klientów-->
    <table class="table table-hover table-sm table-responsive-md"
           *ngIf="clients | async as clientsAsync; else loading">
      <thead class="thead-light">
      <tr>
        <th scope="col">Nazwa Firmy</th>
        <th scope="col">Nip</th>
        <th scope="col">Adres</th>
        <th scope="col">
          <div class="d-flex justify-content-center">Nowa Faktura</div>
        </th>
        <th scope="col">
          <div class="d-flex justify-content-center">Edytuj</div>
        </th>
        <th scope="col">
          <div class="d-flex justify-content-center">Usuń</div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let client of clientsAsync | filter: searchString">
        <td [routerLink]="[client.id]"
            style="cursor: pointer">{{ client.companyName }}</td>
        <td [routerLink]="[client.id]"
            style="cursor: pointer">{{ client.nipNumber }}</td>
        <td [routerLink]="[client.id]"
            style="cursor: pointer">{{ client.address }}</td>
        <th>
          <div class="d-flex justify-content-center">
            <button class="btn btn-success" [routerLink]="['/invoices/new']" [queryParams]="{ client: client.id}">
              <i class="fas fa-file-invoice"></i>
            </button>
          </div>
        </th>
        <th>
          <div class="d-flex justify-content-center">
            <button class="btn btn-primary" [routerLink]="[client.id,'edit']">
              <i class="fas fa-edit"></i>
            </button>
          </div>
        </th>
        <th>
          <div class="d-flex justify-content-center">
            <button class="btn btn-danger" (click)="deleteClient(client.id)">
              <i class="fas fa-minus-circle"></i>
            </button>
          </div>
        </th>
      </tr>
      </tbody>
    </table>

    <ng-template #loading>
      <div class="d-flex justify-content-center">
        <i class="fas fa-cog fa-spin fa-7x"></i>
      </div>
    </ng-template>
  </div>

</div>
