<div class="row d-flex justify-content-center">
  <div class="col-12 col-md-9 col-lg-8">
    <div class="jumbotron">
      <h1 *ngIf="!authService.isAuthenticated(); else welcome" class="display-4">Witaj w Aplikacji Wspomagającej Prowadzenie Sklepu</h1>
      <ng-template #welcome>
        <h1 class="display-4">Witaj {{ authService.credentials.username }}</h1>
      </ng-template>
      <!--<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>-->
      <hr class="my-4">
      <p *ngIf="!authService.isAuthenticated()">Aby w pełni korzystać z możliwości zaloguj się w prawym górnym rogu.</p>
      <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
    </div>
  </div>
</div>
