<div class="container">
  <div *ngIf="!isLoading">
  <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group col-12 col-md-6 col-lg-2 required">
        <label for="number">Nr Faktury</label>
        <input id="number" type="text" class="form-control" formControlName="number">
        <small>
          <div *ngIf="invoiceForm.controls.number.invalid && (invoiceForm.controls.number.dirty || invoiceForm.controls.number.touched)"
               class="text-danger">
            <div *ngIf="invoiceForm.controls.number.errors.pattern">
              Numer faktury ma nieprawidłowy format.
              Powinien być nrm/mm/yyyy.
            </div>
            <div *ngIf="invoiceForm.controls.number.errors.exists">
              Faktura o tym numerze już istnieje
            </div>
          </div>
        </small>
      </div>
      <div class="form-group col-12 col-md-6 col-lg-2 required">
        <label for="issueDate">Data wystawienia</label>
        <input id="issueDate"
               type="text"
               placeholder="Data wystawienia"
               class="form-control"
               bsDatepicker

               [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY',
                               containerClass: 'theme-dark-blue' }"
               formControlName="issueDate"
               (bsValueChange)="onIssueDateChange($event)">
      </div>
      <div class="form-group col-12 col-md-6 col-lg-3 required">
        <label for="issuePlace">Miejsce wystawienia</label>
        <input id="issuePlace" type="text" class="form-control" formControlName="issuePlace" autocomplete="issuePlace">
      </div>
      <div class="form-group col-12 col-md-6 col-lg-2 required">
        <label for="saleDate">Data sprzedaży</label>
        <input id="saleDate"
               type="text"
               placeholder="Data sprzedaży"
               class="form-control"
               bsDatepicker

               [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY',
                               containerClass: 'theme-dark-blue' }"
               formControlName="saleDate">
      </div>
      <div class="form-group col-12 col-lg-2 required">
        <label for="paymentType">Rodzaj Płatności</label>
        <input id="paymentType" type="text" class="form-control" formControlName="paymentType">
      </div>
    </div>
    <div class="row">
      <!--sprzedawca-->
      <div class="col-12 col-lg-6" formGroupName="seller" *ngIf="!sellerDetails; else sellerDetailsTemp">
        <h3>Sprzedawca</h3>
        <div class="row">
          <div class="form-groupcol-12 col-sm-12 col-md-7 required">
            <label for="companyNameSeller">Nazwa firmy</label>
            <input type="text" id="companyNameSeller" class="form-control" formControlName="companyName" autocomplete="seller companyName">
          </div>
          <div class="form-group col-12 col-md-5 required">
            <label for="nipNumberSeller">Nip</label>
            <input type="text" id="nipNumberSeller" class="form-control" formControlName="nipNumber" autocomplete="seller nipNumber">
          </div>
        </div>
        <div class="row required" formGroupName="address">
          <div class="form-group col-12 col-lg-8">
            <label for="streetSeller">Ulica</label>
            <input type="text" id="streetSeller" class="form-control" formControlName="street" autocomplete="seller street-address">
          </div>
          <div class="form-group col-12 col-sm-4 col-md-2 col-lg-4">
            <label for="zipCodeSeller">Kod pocztowy</label>
            <input type="text" id="zipCodeSeller" class="form-control" formControlName="zipCode" autocomplete="seller postal-code">
          </div>
          <div class="form-group col-12 col-sm-8 col-md-6">
            <label for="citySeller">Miejscowość</label>
            <input type="text" id="citySeller" class="form-control" formControlName="city" autocomplete="seller city">
          </div>
          <div class="form-group col-12 col-md-4 col-lg-6">
            <label for="countrySeller">Kraj</label>
            <input type="text" id="countrySeller" class="form-control" formControlName="country" autocomplete="seller country">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-md-6">
            <label for="firstNameSeller">Imię</label>
            <input type="text" id="firstNameSeller" class="form-control" formControlName="firstName" autocomplete="seller firstName">
          </div>
          <div class="form-group col-12 col-md-6">
            <label for="lastNameSeller">Nazwisko</label>
            <input type="text" id="lastNameSeller" class="form-control" formControlName="lastName" autocomplete="seller lastName">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-md-5 pr-1">
            <label for="bank">Bank</label>
            <input type="text" id="bank" class="form-control" formControlName="bank" autocomplete="seller bankName">
          </div>
          <div class="form-group col-12 col-md-7 pl-1">
            <label for="bankAccountNumber">Numer konta</label>
            <input type="text" id="bankAccountNumber" class="form-control" formControlName="bankAccountNumber" autocomplete="seller bankAccountNumber">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-outline-success" (click)="saveSellerDetails()">Zapisz dane</button>
          </div>
        </div>
      </div>
      <ng-template #sellerDetailsTemp>
        <div class="col-12 col-lg-6">
          <h3>Sprzedawca</h3>
          <div class="row my-0">
            <div class="col">
              <h5>{{ sellerDetailsDTO.companyName }}</h5>
              <hr>
            </div>
          </div>
          <div class="row my-0">
            <div class="col">
              <p><strong>Nip: </strong> {{ sellerDetailsDTO.nipNumber }}</p>
            </div>
          </div>
          <div class="row my-0">
            <div class="col">
              <p><strong>Adres:</strong><br>
                {{ sellerDetailsDTO.address.street }}<br>
                {{ sellerDetailsDTO.address.zipCode }}  {{ sellerDetailsDTO.address.city }}, {{ sellerDetailsDTO.address.country }}</p>
            </div>
          </div>
          <div *ngIf="sellerDetailsDTO.firstName !== '' && sellerDetailsDTO.lastName !== ''">
            <div class="row my-0">
              <div class="col">
                <p><strong>Imię i Nazwisko: </strong>{{ sellerDetailsDTO.firstName }} {{ sellerDetailsDTO.lastName }}</p>
              </div>
            </div>
          </div>
          <div class="row my-0">
            <div class="col">
              <p><strong>{{ sellerDetailsDTO.bank }}</strong><br>
              {{ sellerDetailsDTO.bankAccountNumber }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-outline-primary" (click)="editSeller()">Edytuj</button>
            </div>
          </div>
        </div>
      </ng-template>
      <!--nabywca-->
      <div class="col-12 col-lg-6" formGroupName="buyer">
        <h3>Nabywca</h3>
        <div class="row">
          <div class="form-group col-12 col-sm-12 col-md-7 required">
            <label for="companyNameBuyer">Nazwa firmy</label>
            <div class="input-group">
              <!--<input type="text" id="companyNameBuyer" class="form-control" formControlName="companyName">-->
              <input id="companyNameBuyer"
                     [typeahead]="clients"
                     (typeaheadOnSelect)="onSelectClient($event)"
                     [typeaheadScrollable]="true"
                     [typeaheadOptionsInScrollableView]="5"
                     [typeaheadLatinize]="true"
                     typeaheadOptionField="companyName"
                     placeholder="Nazwa firmy"
                     class="form-control"
                     formControlName="companyName"
                     autocomplete="companyName">
              <!--<div class="input-group-append">-->
                <!--<button type="button"-->
                        <!--class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"-->
                        <!--data-toggle="dropdown"-->
                        <!--aria-haspopup="true"-->
                        <!--aria-expanded="false">-->
                  <!--<span class="sr-only">Toggle Dropdown</span>-->
                <!--</button>-->
                <!--<div class="dropdown-menu dropdown-menu-right">-->
                  <!--&lt;!&ndash;lista klientow&ndash;&gt;-->
                  <!--<div *ngFor="let client of filteredClients">-->
                    <!--<a class="dropdown-item"-->
                       <!--style="cursor: pointer;"-->
                       <!--(click)="onSelectClient(client)">{{ client.companyName }}</a>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            </div>
          </div>

          <div class="form-group col-12 col-md-5 required">
            <label for="nipNumberBuyer">Nip</label>
            <input type="text" id="nipNumberBuyer" class="form-control" formControlName="nipNumber" autocomplete="buyer nipNumber">
          </div>
        </div>
        <div class="row required d-flex align-items-end" formGroupName="address">
          <div class="form-group col-12 col-lg-8">
            <label for="streetBuyer">Ulica</label>
            <input type="text" id="streetBuyer" class="form-control" formControlName="street" autocomplete="buyer street-address">
          </div>
          <div class="form-group col-12 col-sm-4 col-md-2 col-lg-4">
            <label for="zipCodeBuyer">Kod pocztowy</label>
            <input type="text" id="zipCodeBuyer" class="form-control" formControlName="zipCode" autocomplete="buyer postalCode">
          </div>
          <div class="form-group col-12 col-sm-8 col-md-6">
            <label for="cityBuyer">Miejscowość</label>
            <input type="text" id="cityBuyer" class="form-control" formControlName="city" autocomplete="buyer city">
          </div>
          <div class="form-group col-12 col-md-4 col-lg-6">
            <label for="countryBuyer">Kraj</label>
            <input type="text" id="countryBuyer" class="form-control" formControlName="country" autocomplete="buyer country">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-md-6">
            <label for="firstNameBuyer">Imię</label>
            <input type="text" id="firstNameBuyer" class="form-control" formControlName="firstName" autocomplete="buyer firstName">
          </div>
          <div class="form-group col-12 col-md-6">
            <label for="lastNameBuyer">Nazwisko</label>
            <input type="text" id="lastNameBuyer" class="form-control" formControlName="lastName" autocomplete="buyer lastName">
          </div>
        </div>
      </div>
    </div>
    <div class="row my-1 d-flex justify-content-between">
      <div class="col">
        <h3>Pozycje na fakturze</h3>
      </div>
      <div class="col d-flex align-items-end">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName="showPKWIUCode" (change)="onPKWiUChange()">
          <label class="custom-control-label" for="customCheck1">Dodaj PKWiU do pól faktury</label>
        </div>
      </div>

    </div>
    <!--Pozycje faktury etykiety-->
    <div class="row d-none d-md-block">
      <div class="col-12">
        <hr>
        <div class="row d-flex" id="positionsLabels">
          <div class="col-md-6 col-lg-4">
            Nazwa Produktu
          </div>
          <div class="col-lg-2" *ngIf="displayPKWiUCode">
            PKWiU
          </div>
          <div class="col-1">
            Ilość
          </div>
          <!--jednostka-->
          <div class="col-1">
            Jednostka
          </div>
          <!--cena netto-->
          <div class="col-1">
            Cena netto
          </div>
          <!--vat-->
          <div class="col-1">
            VAT %
          </div>
          <!--wartosc netto-->
          <div class="col-1">
            Watrość netto
          </div>
          <!--wartosc brutto-->
          <div class="col-1">
            Wartość brutto
          </div>
        </div>
      </div>
    </div>
    <!--pozycje faktury-->
    <div class="row">
      <div class="col-12" formArrayName="positions">
        <div class="row"
             *ngFor="let positionCtrl of getControls(); let i = index"
             [formGroupName]="i"
             style="margin-top: 10px;">
          <!--nazwa produktu-->
          <!--{{ i + 1 }}.-->
          <div class="form-group col-12 col-md-6 col-lg-4 px-1">
            <label class="d-block d-md-none" for="name">Nazwa Produktu</label>

            <div class="input-group">
              <button class="btn btn-outline-danger mx-1" type="button" (click)="onDeletePosition(i)"><i
                class="fas fa-minus-circle"></i></button>
              <input id="name"
                     [typeahead]="products"
                     (typeaheadOnSelect)="onSelectProduct(i, $event)"
                     [typeaheadScrollable]="true"
                     [typeaheadOptionsInScrollableView]="5"
                     [typeaheadLatinize]="true"
                     typeaheadOptionField="name"
                     placeholder="Nazwa produktu"
                     class="form-control"
                     formControlName="name"
                     autocomplete="product-name">
              <!--<input id="name" type="text" class="form-control" formControlName="name" #myInput-->
                     <!--(input)="filterProducts(myInput.value)" autocomplete="product-name">-->
              <!--<div class="input-group-append">-->
                <!--<button type="button"-->
                        <!--class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"-->
                        <!--data-toggle="dropdown"-->
                        <!--aria-haspopup="true"-->
                        <!--aria-expanded="false">-->
                  <!--<span class="sr-only">Toggle Dropdown</span>-->
                <!--</button>-->
                <!--<div class="dropdown-menu dropdown-menu-right">-->
                  <!--&lt;!&ndash;lista produktow&ndash;&gt;-->
                  <!--<div *ngFor="let product of filteredProducts">-->
                    <!--<a class="dropdown-item"-->
                       <!--style="cursor: pointer;"-->
                       <!--(click)="onSelectProduct(i, product)">{{ product.name }}  {{ product.priceNetto }}</a>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            </div>
          </div>
          <div class="form-group col-lg-2 px-1" *ngIf="displayPKWiUCode">
            <label class="d-block d-md-none" for="pkwiuCode">PKWiU</label>
            <input id="pkwiuCode"
                   type="text"
                   class="form-control"
                   formControlName="pkwiuCode" autocomplete="pkwiuCode">
          </div>
          <div class="form-group col-12 col-md-1 px-1">
            <!--ilosc-->
            <label class="d-block d-md-none" for="quantity">Ilość</label>
            <input id="quantity"
                   type="text"
                   class="form-control"
                   formControlName="quantity" autocomplete="quantity"
                   (change)="onChange1(i)">
          </div>
          <!--jednostka-->
          <div class="form-group col-12 col-md-1 px-1">
            <div >
              <label class="d-block d-md-none" for="unitOfMeasure">Jednostka miary</label>
              <input id="unitOfMeasure" type="text" class="form-control" formControlName="unitOfMeasure" autocomplete="unitOfMeasure">
            </div>
          </div>
          <!--cena netto-->
          <div class="form-group col-12 col-md-1 px-1">
            <div >
              <label class="d-block d-md-none" for="priceNetto">Cena Netto</label>
              <input id="priceNetto"
                     type="text"
                     class="form-control"
                     formControlName="priceNetto"
                     autocomplete="priceNetto"
                     (change)="onChange1(i)">
            </div>
          </div>
          <!--vat-->
          <div class="form-group col-12 col-md-1 px-1">
            <div >
              <label class="d-block d-md-none" for="tax">VAT</label>
              <select class="custom-select" id="tax" formControlName="tax" (change)="onChange1(i)">
                <option *ngFor="let v of vatValues" [value]="v">{{ v }}</option>
              </select>
            </div>
          </div>
          <div class="form-group col-12 col-md-1 px-1">
            <label class="d-block d-md-none" for="totalPriceNetto">Wartość Netto</label>
            <input id="totalPriceNetto"
                   type="text"
                   class="form-control"
                   formControlName="totalPriceNetto"
                   autocomplete="totalPriceNetto"
                   (change)="onTotalPriceNettoChange(i)">
          </div>
          <!--wartosc brutto-->
          <div class="form-group col-12 col-md-1 px-1">
            <label class="d-block d-md-none" for="totalPriceBrutto">Wartość Brutto</label>
            <input id="totalPriceBrutto"
                   type="text"
                   class="form-control"
                   formControlName="totalPriceBrutto"
                   autocomplete="totalPriceBrutto"
                   (change)="onTotalPriceBruttoChange(i)">
          </div>
        </div>
        <hr>
      </div>
      <div class="row">
        <div class="col-12">
          <button type="button" class="btn btn-outline-success" (click)="addPosition()"><i class="fas fa-plus"></i>
            Dodaj pozycję
          </button>
        </div>
      </div>
    </div>
    <!--podsumowanie-->
    <div class="row d-flex justify-content-end">
      <div class="col-sm-4">
        <table class="table table-sm">
          <tbody>
          <tr>
            <th>Suma netto</th>
            <td>{{ invoiceForm.get('priceNet').value }}</td>
            <td>zł</td>
          </tr>
          <tr>
            <th>Suma VAT</th>
            <td>{{ invoiceForm.get('priceTax').value }}</td>
            <td>zł</td>
          </tr>
          <tr>
            <th>Suma brutto</th>
            <td>{{ invoiceForm.get('priceGross').value }}</td>
            <td>zł</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!invoiceForm.valid || isSubmitting">
            <span [hidden]="!isSubmitting">
              <i class="fas fa-cog fa-spin" ></i>
            </span>
            Zapisz
          </button>

        </div>
      </div>
    </div>
  </form>
  </div>
  <div class="d-flex justify-content-center" *ngIf="isLoading">
    <i class="fas fa-cog fa-spin fa-7x" ></i>
  </div>
</div>
