<a
  style="cursor: pointer"
  class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
  [routerLink]="[index]"
  routerLinkActive="active">
  <!--(click)="recipeClicked()">-->
  <div class="pull-left">
    <h5 class="mb-1">{{ product.name }}</h5>
    <p class="list-group-item-text">{{ product.description }}</p>
  </div>
  <span class="pull-right">
        <img
          src="https://cdn.pixabay.com/photo/2013/07/12/14/17/tin-148168_960_720.png"
          alt="{{ product.name }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
</a>
