<h3></h3>

<div class="row justify-content-around my-4">
  <div class="input-group">
    <div class="custom-file">
      <input type="file"
             class="custom-file-input"
             id="inputGroupFile"
             aria-describedby="inputGroupFileAddon04"
             accept="text/csv"
             (change)="onFileChanged($event)">
      <label class="custom-file-label" for="inputGroupFile" #labelInput>Wybierz plik</label>
    </div>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04" (click)="onUpload()">Dodaj
        Produkty
      </button>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div *ngIf="isUploading">
    <i class="fas fa-cog fa-spin fa-6x"></i>
  </div>
</div>

