<!--<div class="row">-->
  <!--<div class="col-lg-3">-->
    <!--&lt;!&ndash;navigacja&ndash;&gt;-->
    <!--<div class="row my-2">-->
      <!--<button class="btn btn-primary">Nowa Faktura</button>-->
    <!--</div>-->


    <!--<div class="row">-->
      <!--<form class="form-inline my-2 my-lg-0">-->
        <!--<div class="input-group">-->
          <!--<input class="form-control" type="search" placeholder="Szukaj Faktury" aria-label="Szukaj Faktury">-->
          <!--<div class="input-group-append">-->
            <!--<button class="btn btn-outline-secondary"><i class="fas fa-search"></i></button>-->
          <!--</div>-->
        <!--</div>-->

      <!--</form>-->
    <!--</div>-->

  <!--</div>-->
  <!--<div class="col-lg-9">-->
    <!--<app-invoice-list></app-invoice-list>-->
  <!--</div>-->
<!--</div>-->

<div class="container">
  <router-outlet></router-outlet>
</div>
