<div class="container">
  <div class="row mb-2">
    <div class="col-6">
      <h3>Dane Firmy</h3>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <button type="button"
              class="btn btn-outline-secondary"
              (click)="backClicked()"><i class="fas fa-arrow-left"></i> Powrót</button>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 mx-auto">
      <form [formGroup]="userDetailForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group col-12 col-md-6">
            <label for="firstName">Imię</label>
            <input type="text" id="firstName" class="form-control" formControlName="firstName">
          </div>
          <div class="form-group col-12 col-md-6">
            <label for="lastName">Nazwisko</label>
            <input type="text" id="lastName" class="form-control" formControlName="lastName">
          </div>
        </div>
        <div class="row">
          <div class="form-groupcol-12 col-sm-12 col-md-7">
            <label for="companyName">Nazwa firmy</label>
            <input type="text" id="companyName" class="form-control" formControlName="companyName">
          </div>
          <div class="form-group col-12 col-md-5">
            <label for="nipNumber">Nip</label>
            <input type="text" id="nipNumber" class="form-control" formControlName="nipNumber">
          </div>
        </div>
        <div class="row" formGroupName="address">
          <div class="form-group col-12 col-md-8 col-lg-8">
            <label for="street">Ulica</label>
            <input type="text" id="street" class="form-control" formControlName="street">
          </div>
          <div class="form-group col-12 col-sm-4 col-md-4 col-lg-4">
            <label for="zipCode">Kod pocztowy</label>
            <input type="text" id="zipCode" class="form-control" formControlName="zipCode">
          </div>
          <div class="form-group col-12 col-sm-8 col-md-6">
            <label for="city">Miejscowość</label>
            <input type="text" id="city" class="form-control" formControlName="city">
          </div>
          <div class="form-group col-12 col-md-4 col-lg-6">
            <label for="country">Kraj</label>
            <input type="text" id="country" class="form-control" formControlName="country">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12 col-md-7 col-lg-5 col-xl-6">
            <label for="bank">Bank</label>
            <input id="bank" type="text" class="form-control" formControlName="bank">
          </div>
          <div class="form-group col-12 col-lg-7 col-xl-6">
            <label for="bankAccountNumber">Numer konta</label>
            <input id="bankAccountNumber" type="text" class="form-control" formControlName="bankAccountNumber">
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="form-group col-6">
            <button type="submit" class="btn btn-success btn-block" [disabled]="!userDetailForm.valid || isSubmitting">
              <span [hidden]="!isSubmitting">
              <i class="fas fa-cog fa-spin" ></i>
            </span>
              Zapisz
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
