<div class="row">
  <div class="col-12">
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-8">
          <div class="form-group">
            <label for="companyName">Nazwa firmy</label>
            <input type="text" id="companyName" class="form-control" formControlName="companyName">
          </div>
        </div>
        <div class="col">
          <label for="nipNumber">Nip</label>
          <input type="text" id="nipNumber" class="form-control" formControlName="nipNumber">
        </div>
      </div>
      <div class="row" formGroupName="address">
        <div class="col">
          <div class="form-group">
            <label for="street">Ulica</label>
            <input type="text" id="street" class="form-control" formControlName="street">
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="zipCode">Kod pocztowy</label>
            <input type="text" id="zipCode" class="form-control" formControlName="zipCode">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="city">Miejscowość</label>
            <input type="text" id="city" class="form-control" formControlName="city">
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="country">Kraj</label>
            <input type="text" id="country" class="form-control" formControlName="country">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="firstName">Imię</label>
            <input type="text" id="firstName" class="form-control" formControlName="firstName">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="lastName">Nazwisko</label>
            <input type="text" id="lastName" class="form-control" formControlName="lastName">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <button class="btn btn-success" type="submit" [disabled]="!clientForm.valid">Zapisz</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
